# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_style = space

# TypeScript, JavaScript
[*.{ts,js}]
indent_size = 2

# package.json, tsconfig.json, extension.json
[*.json]
indent_size = 2

# Shell script
[*.sh]
indent_size = 2

# Dart
[*.dart]
indent_size = 2

# xml
[*.xml]
indent_size = 4
